body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.webpage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
}

.navigation-bar {
    width: 13rem;
    height: 100vh;
}

.content {
    overflow-y: auto;
    background: rgba(var(--light-orange), 0.3);
    width: calc(100vw - 13rem);
}

@media (max-width: 64rem) {
    .webpage {
        display: block;
    }

    .navigation-bar {
        width: 100vw;
        height: 3rem;
    }
    
    .content {
        overflow-y: auto;
        background: rgba(var(--light-orange), 0.3);
        height: calc(100vh - 3rem);
        width: 100vw;
    }
}