@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --white: 255, 255, 255;
  --light-orange: 255, 242, 224;
  --light-pink: 249, 157, 188;
  --light-purple: 206, 169, 236;
  --orange: 255, 200, 122;
  --pink: 252, 114, 133;
  --purple: 114, 56, 203;
  --dark-purple: 52, 53, 117;
  --darker-purple: 9, 4, 70;
  --dp-filter: invert(19%) sepia(9%) saturate(7352%) hue-rotate(210deg) brightness(97%) contrast(88%);
  --white-filter: invert(91%) sepia(100%) saturate(31%) hue-rotate(250deg) brightness(108%) contrast(100%);
}

body {
  font-family: 'Poppins';
  font-weight: 400;
  color: rgb(var(--dark-purple));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Gluten';
  margin: 0;
  color: rgb(var(--dark-purple));
}

h4, h5, h6, p, button {
  font-family: 'Poppins';
  margin: 0;
  color: rgb(var(--dark-purple));
}

h1 {
  font-weight: 800;
  font-size: 90px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-weight: 700;
  font-size: 25px;
}

h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
}

h5 {
  font-weight: 700;
  font-size: 20px;
}

h6 {
  font-weight: 600;
  font-size: 15px;
}

a {
  color: rgb(var(--dark-purple));
}

p {
  font-weight: 300;
  font-size: 15px;
}