/* Fonts */
@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/Gluten/static/Gluten-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  /* colors */
  --white: 255, 255, 255;
  --light-orange: 255, 242, 224;
  --light-pink: 249, 157, 188;
  --light-purple: 206, 169, 236;
  --orange: 255, 200, 122;
  --pink: 252, 114, 133;
  --purple: 114, 56, 203;
  --dark-purple: 52, 53, 117;
  --darker-purple: 9, 4, 70;
  /* underline style */
  --underline: rgb(var(--white)) underline wavy 2px;
  /* filters */
  --dp-filter: invert(19%) sepia(9%) saturate(7352%) hue-rotate(210deg) brightness(97%) contrast(88%);
  --white-filter: invert(91%) sepia(100%) saturate(31%) hue-rotate(250deg) brightness(108%) contrast(100%);
  /* root size */
  font-size: 16px;
  /* scroll bar */
  scrollbar-color: rgb(var(--dark-purple)) transparent;
}

/* basic styling */
body {
  font-family: 'Poppins';
  font-weight: 400;
  color: rgb(var(--dark-purple));
}

h1, h2, h3 {
  font-family: 'Gluten';
  margin: 0;
}

h4, h5, h6, p, button {
  font-family: 'Poppins';
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

button {
  font-size: 1rem;
  color: rgb(var(--dark-purple));
}

a {
  color: rgb(var(--dark-purple));
}