@import url('../../constants.css');

body {
    margin: 0;
    padding: 0;
}

:root {
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes animation1 {
    0% {
        transform: translate(0%, -50%);
    }
    40% {
        transform: translate(30%, 50%);
    }
    60% {
        transform: translate(0%, 50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

@keyframes animation2 {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@keyframes animation3 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(40%, 25%);
    }
    50% {
        transform: translate(30%, 10%);
    } 
    75% {
        transform: translate(15%, 20%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes animation4 {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(200deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation5 {
    0% {
        transform: translate(0%, 0%);
    }
    33% {
        transform: translate(-30%, 60%);
    }
    66% {
        transform: translate(-20%, -5%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes animation6 {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    } 
    75% {
        transform: rotate(180deg);
    } 
    100% {
        transform: rotate(90deg);
    }
}

.blob-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, rgb(var(--light-pink)), rgb(var(--light-purple)));
    top: 0;
    left: 0;
}

svg {
    display: none;
}

.blob-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.blob1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--orange), 0.6) 0, rgba(var(--orange), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center;
    animation: animation1 25s ease infinite;

    opacity: 1;
}

.blob2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--orange), 1) 0, rgba(var(--orange), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: animation2 30s linear infinite;

    opacity: 1;
}

.blob3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--pink), 1) 0, rgba(var(--pink), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: center;
    animation: animation3 40s ease infinite;

    opacity: 0.6;
}

.blob4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--pink), 1) 0, rgba(var(--pink), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(75% - var(--circle-size) / 2);

    transform-origin: calc(50% + 300px);
    animation: animation4 20s linear infinite;

    opacity: 0.7;
}

.blob5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--purple), 1) 0, rgba(var(--purple), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: 0;
    left: 0;

    transform-origin: center;
    animation: animation5 25s ease infinite;

    opacity: 0.6;
}

.blob6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--purple), 1) 0, rgba(var(--purple), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(20% + 400px);
    animation: animation6 30s ease infinite;

    opacity: 0.6;
}